:root {
  --main-color: #eff2f1;
  --header-background-color: #35736e;
  --accent-background-color: rgba(53, 115, 110, 0.1);
  --yellow-color: #f9bf29;
  --black-color: #2f2f2f;
  --black-btn-background-color: #171515;
  --accent-color: rgba(255, 255, 255, 0.29);
  --white-color: #ffffff;
  --text-color: #6a6a6a;
  --background-color-header: #35736e;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--main-color);
}
.body-wraper {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.container {
  max-width: 1146px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
}

/* Header */

.box {
  background-color: var(--background-color-header);
}
.logo-link {
  color: var(--white-color);

  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 44px;
  margin-left: auto;
}
.nav-item {
  color: var(--accent-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.nav-item:hover {
  color: var(--white-color);
}
.nav-link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-wraper {
  display: flex;
}
/* .header-wraper-content{
    
} */
.header-wraper-content-title {
  max-width: 419px;
  height: 130px;
  margin-top: 157px;
  margin-bottom: 117px;

  color: var(--white-color);

  font-weight: 600;
  font-size: 54px;
  line-height: 1.2;
}
.btn-shop {
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.29);
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
}
.btn-shop:hover {
  background-color: var(--yellow-color);
  color: var(--white-color);
}
.btn-header-explore {
  cursor: pointer;
  width: 132px;
  height: 50px;
  color: var(--white-color);
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.29);
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
}
.btn-header-explore:hover {
  background-color: var(--black-btn-background-color);
}
.header-wraper-pik {
  position: relative;
  max-width: 724px;
  margin-left: auto;
  margin-top: 126px;
}


.header-box-dot {
  position: absolute;
  top: 20px;
  left: 560px;
}
/* section description*/
.description-wraper {
  display: flex;
  margin-top: 151px;
  align-items: center;
  gap: 114px;
}
.description {
  max-width: 228px;
}
.description-title {
  font-weight: 600;
  font-size: 34px;
  line-height: 1.2;
  color: #2f2f2f;
  margin-bottom: 27px;
}
.description-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
  margin-bottom: 33px;
}
.btn-explore {
  cursor: pointer;
  text-align: center;
  width: 122px;
  height: 50px;
  background: #2f2f2f;
  border-radius: 30px;
  color: var(--white-color);
}
.btn-explore:hover {
  background-color: var(--background-color-header);
  color: var(--white-color);
}
.price-list {
  display: flex;
  gap: 79px;
  align-self: flex-start;
}
.price-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.price-title {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black-color);
}
.price-text {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--black-color);
}

/* section about*/

.about-wraper {
  display: flex;
  margin-top: 208px;
  gap: 124px;
}
.about {
  max-width: 480px;
}
.about-title {
  margin-bottom: 27px;
  font-weight: 600;
  font-size: 34px;
  line-height: 1.2;
  color: var(--black-color);
}
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);

  margin-bottom: 90px;
}
.info-list {
  display: flex;
  flex-wrap: wrap;
}
.info-item {
  width: calc(100% / 2);
}
.info-item:nth-child(-n + 2) {
  padding-bottom: 46px;
}
.info-icon {
  position: relative;
}

#circle {
  position: absolute;
  /* display: block; */
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: rgba(53, 115, 110, 0.2);
  margin-left: 12px;
  margin-top: 4px;
}
.info-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.6;
  color: var(--black-color);

  margin-bottom: 9px;
}
.info-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: var(--text-color);
}
.about-box {
  position: relative;
  max-width: 542px;
}
.about-box-img {
  width: 100%;
  border-radius: 2%;
}
.about-box-dot {
  position: absolute;
  top: -52px;
  left: -82px;
  z-index: -1;
}

/* section design*/
.wraper-desigh {
  display: flex;
  gap: 51px;
  margin-bottom: 174px;
  margin-top: 195px;
}
.design {
  position: relative;
  width: 60%;
  /* max-width: 632px; */
}
.design-img-sofa {
  border-radius: 4%;
}
.design-img-armchair {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 4%;
}
.design-img-chair {
  position: absolute;
  bottom: -44px;
  right: 0;
  border-radius: 4%;
}
.design-dot {
  position: absolute;
  top: -52px;
  left: -113px;
  z-index: -1;
}
.advice {
  display: block;
  max-width: 463px;
  margin-left: auto;
}
.advice-title {
  font-weight: 600;
  font-size: 34px;
  line-height: 1.2;
  color: var(--black-color);

  margin-bottom: 28px;
}
.advice-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);

  margin-bottom: 31px;
}
.offer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 14px;
}
.offer-item {
  display: flex;
  align-items: baseline;

  width: calc(100% / 2);
  max-width: 194px;
  padding-bottom: 24px;
  gap: 13px;
}

.offer-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: var(--text-color);
  margin-right: 0;
}
#small-circle {
  width: 10px;
  height: 8px;
  border: 2px solid #3b5d50;
  border-radius: 50%;
}

/*  section assortment*/

.assortment-wraper {
  display: flex;
}
.assortment-picture {
  position: relative;
  margin-right: 33px;
}
.assortment-img {
  position: absolute;
  left: 0;
  bottom: 8px;
  /* top: 0; */
}
#square {
  width: 98px;
  height: 98px;
  background: rgba(53, 115, 110, 0.3);
  border-radius: 10px;
}
.assortment {
  align-self: center;
}
.assortment:not(:last-child) {
  margin-right: 49px;
}
.assortment-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: var(--black-color);

  padding-bottom: 11px;
}
.assortment-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: var(--text-color);

  padding-bottom: 11px;
}
.assortment-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6;
  color: var(--text-color);
}

/* slider */
.section-title {
  text-align: center;
  margin-top: 95px;
  margin-bottom: 47px;
  font-weight: 600;
  font-size: 34px;
  line-height: 1.2;
  color: var(--black-color);
}
/* .wraper-slider{
  background-color: red;

 
  
} */
.slider-box {
  /* background-color: blue; */
  max-width: 759px;
  min-height: 359px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.slider-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
}
.slider-img {
  width: 77px;
  height: 77px;
  border-radius: 50px;
}
.slider-title {
  margin-top: 13px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: var(--black-color);
}
.slider-info-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 2.5;
  color: var(--black-color);
}
.slider-icon-next {
  position: absolute;
  border-radius: 50%;
  right: 40px;
  top: 10%;
}
.slider-icon-next:hover {
  background-color: var(--background-color-header);
}

.slider-icon-prev {
  position: absolute;
  border-radius: 50%;
  left: 40px;
  top: 10%;
  z-index: 3;
}
.slider-icon-prev:hover {
  background-color: var(--background-color-header);
}
/* section blog*/
.recent-blog {
  display: flex;
  margin-top: 41px;
}
.recent-blog-title {
  font-weight: 600;
  font-size: 34px;
  line-height: 1.2;
  color: var(--black-color);
}
.recent-blog-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 2.6;
  color: var(--black-color);

  margin-left: auto;
}
.blog-list {
  display: flex;
  gap: 30px;
  margin-top: 36px;
}
.blog-img {
  border-radius: 4%;
  margin-bottom: 44px;
}
.blog-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  columns: var(--black-color);
}
.blog-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  columns: var(--black-color);
}

/* footer */

.footer {
  margin-top: 159px;
  background-color: var(--white-color);
}
.form {
  display: flex;
}
.form-wraper {
  margin-top: 57px;
}
.form-letter {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 12px;
}
.form-letter-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: var(--black-color);
}

.form-mail {
  display: flex;
  gap: 15px;
}
.form-mail-input {
  max-width: 262px;
  height: 45px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}
.form-mail-btn {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;

  width: 50px;
  height: 47.7px;
  background: #35736e;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  box-sizing: border-box;
}
.form-mail-btn:hover {
  background-color: var(--black-btn-background-color);
}
.form-icon-telegram {
  /* position: absolute; */
  display: block;
  text-align: center;
}
.form-img-wraper {
  position: relative;
  bottom: 86px;
  margin-left: auto;
}

.aside {
  display: flex;
  gap: 65px;
  margin-top: 17px;
}
/* .aside-content{
  max-width: 360px;
} */

.aside-content-logo {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  color: var(--black-color);
}
.aside-content-text {
  max-width: 360px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
}
.aside-content-list {
  display: flex;
  gap: 59px;
}
/* .aside-content-item{
  justify-content: space-between;
  
  flex-direction: column;

} */
.aside-content-link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: var(--text-color);
}
.aside-widget-list {
  display: flex;
  gap: 11px;
  margin-top: 43px;
  margin-bottom: 68px;
}

.aside-widget-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 41px;
  height: 41px;
  border-radius: 50%;
  background: #d9d9d9;
}
.aside-widget-link:hover {
  background-color: var(--background-color-header);
  fill: var(--white-color);
}

.aside-info {
  display: flex;
  justify-content: baseline;
  padding-bottom: 15px;
}
.aside-info-text {
  margin-right: 512px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.9;
  color: var(--text-color);
}
.aside-info-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
}
.aside-info-link:not(:last-child) {
  margin-right: 42px;
}
